body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}

.title {
  background: #e3f4ff;
  border: 8px solid #eee;
  margin-bottom: 0px;
  padding: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  border-bottom: 8px solid #eee;
  border-left: 8px solid #eee;
  border-right: 8px solid #eee;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-left: 8px solid #eee;
  border-right: 8px solid #eee;
  border-bottom: 8px solid #eee;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
}